﻿<div class="jumbotron">
    <h1>Capicua Bank</h1>
    <p>Would you like to sign in?</p>


</div>

<center>
    <div class="loginmodal-container">
        <h1>Realizar una Transferencia</h1><br>
       
        <form method="post" action="~/Transferencia/Post" enctype="application/x-www-form-urlencoded">
           
            <input type="password" name="pass" placeholder="Password">
            </br>  </br>
            <input type="text" name="origen" placeholder="Cuenta de Origen">
            </br>  </br>
            <input type="text" name="destino" placeholder="Cuenta de Destino">
            </br>  </br>
            <input type="text" name="monto" placeholder="Monto a destinar">
            </br></br>
            <input type="text" name="descripcion" placeholder="Descripcion">
            </br></br>
            <input type="submit" name="transferir" class="login loginmodal-submit" value="Transferir">
        </form>

    </div>
</center>
